/* GOOGLE FONTS - Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
}
.name{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #0470f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #265df2;
}